<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
    <h1>Admin page</h1>
    <div>
       <form th:action="@{/admin/create}" method="post" th:object="${adminForm}">
           <div>
               <label>email</label>
                <div>
                    <input type="text" th:field="*{email}"/>
                </div>
               <button type="submit">Submit</button>
           </div>
       </form>
    </div>
</body>
</html>